@import url(../vendor/normalize.css);

.page {
  font-family: "Inter", Arial, sans-serif;

  font-size: 16px;
  line-height: 20px;
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto;
}
.header {
  background-image: url(../image/background_header.svg);
  background-color: #ffffff;
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.header__logo {
  position: absolute;
  top: 30px;
  left: 30px;
  bottom: 80px;
  width: 125px;
  height: 142px;
}
.nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 80px;
  padding-top: 30px;
}
.nav__links {
  display: flex;
  list-style: none;
  gap: 20px;
}
.nav__link {
  color: #000000;
  transition: color 0.3s linear;
  text-decoration: none;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}
.nav__link:hover {
  color: #2f80ed;
}
/*start from this block*/
.header__title {
  display: flex;
  flex-direction: column;
  max-width: 729px;
  font-family: "inter", Arial, sans-serif;
  font-weight: 500;
  font-size: 60px;
  line-height: 72px;
  margin: 0 80px 28px;
}
.span-accent {
  display: block;
  font-family: "Noto Serif", "Times New Roman", serif;
  font-size: 60px;
  line-height: 72px;
  font-style: italic;
  color: #2f80ed;
}

.header__description {
  margin: 0 80px 0;
  max-width: 683px;
  font-family: "Noto Serif", "Times New Roman", serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
}
/* till here*/
.header__image {
  width: 646px;
  height: 568px;
  position: absolute;
  top: 124px;
  right: 5px;
}
/*start from this block*/
.header__footer {
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  margin-bottom: 40px;
  color: #6f6f6f;
  margin: 0 80px 40px;
}
/*.header__footer_columns {
  display: flex;
  justify-content: space-between;
}*/
.header__footer_column {
}
.header__paragraph {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  margin: 0;
}

.header__paragraph_adress {
  padding-top: 40px;
}
/* till here*/
.menu {
  background-color: #0a2750;
  background-image: url(../image/background_menu.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.menu__title {
  margin: 0 auto;
  text-align: center;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  color: white;
  max-width: 780px;
  padding-top: 100px;
}
.menu__subtitle {
  margin: 20px auto;
  text-align: center;
  font-family: Noto Serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  color: #ffffff;
  max-width: 780px;
}
.menu__cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 100px;
  padding-top: 100px;
  padding-bottom: 100px;
}
.card {
  width: 600px;
  flex-grow: 1;
  max-width: 600px;
}
.card__title {
  font-weight: bold;
  font-size: 20px;
  line-height: 30px;
  padding-bottom: 32px;
  text-align: end;
}
/* Check flex grow!!!*/
.card__list-item {
  font-family: Noto Serif;
  font-style: normal;
  font-size: 16px;
  line-height: 20px;
  display: flex;
  margin-bottom: 16px;
  gap: 10px;
  max-width: 600px;
  color: #ffffff;
}
.card__list-item:first-of-type {
  margin-bottom: 0;
}
.card__list-divider {
  flex-grow: 1;
  position: relative;
  border-bottom: 1px solid #ffffff;
  bottom: 4px;
}

.recipes {
  height: 100vh;
  background-color: #ffffff;
  background-image: url(../image/background_recipes.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.recipes__title {
  padding: 100px 80px 24px;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  color: #000000;
  max-width: 580px;
}
.recipes__subtitle {
  margin: 0 80px 80px;
  font-family: Noto Serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  color: #000000;
  max-width: 438px;
}
.recipes__videos {
  display: flex;
  gap: 40px;
  justify-content: center;
  margin-bottom: 215px;
}
.recipes__iframe {
}
.recipes__video-caption {
  display: flex;
  padding-top: 24px;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
}
.recipes__list-divider {
  flex-grow: 1;
}
