.recipes {
  height: 100vh;
  background-color: #ffffff;
  background-image: url(../image/background_recipes.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.recipes__title {
  padding: 100px 80px 24px;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  color: #000000;
  max-width: 580px;
}
.recipes__subtitle {
  margin: 0 80px 80px;
  font-family: "Noto Serif", "Times New Roman", serif;
  font-size: 20px;
  line-height: 30px;
  color: #000000;
  max-width: 438px;
}
.recipes__videos {
  display: flex;
  gap: 40px;
  justify-content: center;
  margin-bottom: 215px;
}
.recipes__iframe {
}
.iframe {
  border: none;
}
.recipes__video-caption {
  display: flex;
  padding-top: 24px;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
}
.recipes__list-divider {
  flex-grow: 1;
}
